In [1]:
import pandas as pd
import numpy as np
import re
import functools as ft

In [2]:
date = "27_04_2023"

In [3]:
df_MG = pd.read_excel(f"D:\SOFIG Documents\Reajustement_MG\Fichiers\SettlementDetailFX_{date}.xlsx", engine="openpyxl")

In [4]:
df_MG

,Unnamed: 0,IMMEUBLE LE GOLFE COLEAH LANSEBOUNDJI C/MATAM,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,NaN,CONAKRY BP 160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,GN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Settlement Id: 127008157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Business Date: 04/27/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Payment Due Date :,NaN,NaN,NaN,2017-11-13 00:00:00,NaN
4,NaN,Settlement Currency :,NaN,NaN,NaN,NaN,NaN,USD,NaN,Transaction Currency :,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1582,NaN,NaN,NaN,NaN,NaN,FRAUD WARNING:,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1583,NaN,NaN,NaN,NaN,NaN,MoneyGram will never call you to ask you to se...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1584,NaN,NaN,NaN,NaN,NaN,The only time you will be asked for this infor...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1585,NaN,NaN,NaN,NaN,NaN,For Questions Please Contact: 1-800-444-3010,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_MG_array = np.array(df_MG)

In [6]:
df_MG_array

array([[nan, 'CONAKRY  BP 160', nan, ..., nan, nan, nan],
       [nan, 'GN', nan, ..., nan, nan, nan],
       [nan, 'Settlement Id: 127008157', nan, ..., nan, nan, nan],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [7]:
# print(df_MG_array[1055].tolist())

In [8]:
df_MG_2 = pd.DataFrame(df_MG_array)

In [9]:
df_MG_2

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,NaN,CONAKRY BP 160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,GN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Settlement Id: 127008157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Business Date: 04/27/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Payment Due Date :,NaN,NaN,NaN,2017-11-13 00:00:00,NaN
4,NaN,Settlement Currency :,NaN,NaN,NaN,NaN,NaN,USD,NaN,Transaction Currency :,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1582,NaN,NaN,NaN,NaN,NaN,FRAUD WARNING:,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1583,NaN,NaN,NaN,NaN,NaN,MoneyGram will never call you to ask you to se...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1584,NaN,NaN,NaN,NaN,NaN,The only time you will be asked for this infor...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1585,NaN,NaN,NaN,NaN,NaN,For Questions Please Contact: 1-800-444-3010,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_MG_3 = df_MG_2.fillna(0)

In [11]:
df_MG_3

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,0,CONAKRY BP 160,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0
1,0,GN,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0
2,0,Settlement Id: 127008157,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0
3,0,Business Date: 04/27/2023,0,0,0,0,0,0,0,0,...,0,0.0,0,0,Payment Due Date :,0,0.0,0,2017-11-13 00:00:00,0
4,0,Settlement Currency :,0,0,0,0,0,USD,0,Transaction Currency :,...,0,0.0,0,0,0,0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0
1582,0,0,0,0,0,FRAUD WARNING:,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0
1583,0,0,0,0,0,MoneyGram will never call you to ask you to se...,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0
1584,0,0,0,0,0,The only time you will be asked for this infor...,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0
1585,0,0,0,0,0,For Questions Please Contact: 1-800-444-3010,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0

In [12]:
# # For verification purpose
df_MG_3.to_excel("test4.xlsx")

In [13]:
# I have take the expression "Account Total:" and "Receive" to gets there rows index if they are in the same row
lst_MG_REC = df_MG_3.index[(df_MG_3[12]=="Account Total:") & (df_MG_3[17]=="Receive")].tolist()
print(lst_MG_REC)

[12, 36, 44, 52, 68, 82, 94, 120, 130, 142, 154, 174, 182, 198, 220, 236, 250, 258, 270, 282, 292, 300, 320, 330, 338, 358, 368, 380, 390, 398, 408, 428, 440, 448, 456, 464, 741, 783, 793, 803, 829, 851, 869, 915, 929, 947, 965, 999, 1009, 1035, 1073, 1099, 1121, 1131, 1149, 1167, 1181, 1191, 1225, 1239, 1249, 1283, 1297, 1315, 1329, 1339, 1353, 1387, 1405, 1415, 1425, 1435]

In [14]:
len(lst_MG_REC)

72

In [15]:
lst_MG_REC_1 = [m-1 for m in lst_MG_REC]
print(lst_MG_REC_1)

[11, 35, 43, 51, 67, 81, 93, 119, 129, 141, 153, 173, 181, 197, 219, 235, 249, 257, 269, 281, 291, 299, 319, 329, 337, 357, 367, 379, 389, 397, 407, 427, 439, 447, 455, 463, 740, 782, 792, 802, 828, 850, 868, 914, 928, 946, 964, 998, 1008, 1034, 1072, 1098, 1120, 1130, 1148, 1166, 1180, 1190, 1224, 1238, 1248, 1282, 1296, 1314, 1328, 1338, 1352, 1386, 1404, 1414, 1424, 1434]

In [16]:
new_lst = []
for e in lst_MG_REC_1:
    if df_MG_3.iloc[e, 10]==0:
        new_lst.append(e)

print(new_lst)

[11, 35, 43, 51, 67, 81, 93, 119, 129, 141, 153, 173, 181, 197, 219, 235, 249, 257, 269, 281, 291, 299, 319, 329, 337, 357, 367, 379, 389, 397, 407, 427, 439, 447, 455, 463, 740, 782, 792, 802, 828, 850, 868, 914, 928, 946, 964, 998, 1008, 1034, 1072, 1098, 1120, 1130, 1148, 1166, 1180, 1190, 1224, 1238, 1248, 1282, 1296, 1314, 1328, 1338, 1352, 1386, 1404, 1414, 1424, 1434]

In [17]:
len(new_lst)

72

In [18]:
true_lst_REC = [l+1 for l in new_lst]

In [19]:
print(true_lst_REC)

[12, 36, 44, 52, 68, 82, 94, 120, 130, 142, 154, 174, 182, 198, 220, 236, 250, 258, 270, 282, 292, 300, 320, 330, 338, 358, 368, 380, 390, 398, 408, 428, 440, 448, 456, 464, 741, 783, 793, 803, 829, 851, 869, 915, 929, 947, 965, 999, 1009, 1035, 1073, 1099, 1121, 1131, 1149, 1167, 1181, 1191, 1225, 1239, 1249, 1283, 1297, 1315, 1329, 1339, 1353, 1387, 1405, 1415, 1425, 1435]

In [20]:
len(true_lst_REC)

72

In [21]:
# For Base Amt
lst_B_Amt_Rec = [z+1 for z in true_lst_REC]

In [22]:
print(lst_B_Amt_Rec)

[13, 37, 45, 53, 69, 83, 95, 121, 131, 143, 155, 175, 183, 199, 221, 237, 251, 259, 271, 283, 293, 301, 321, 331, 339, 359, 369, 381, 391, 399, 409, 429, 441, 449, 457, 465, 742, 784, 794, 804, 830, 852, 870, 916, 930, 948, 966, 1000, 1010, 1036, 1074, 1100, 1122, 1132, 1150, 1168, 1182, 1192, 1226, 1240, 1250, 1284, 1298, 1316, 1330, 1340, 1354, 1388, 1406, 1416, 1426, 1436]

In [23]:
len(lst_B_Amt_Rec)

72

In [24]:
# Let get the rows index of all "Legacy ID : ". This correspond to the number of agences that have made transactions
lst_MG_ID = df_MG_3.index[df_MG_3[4]=="Legacy ID : "].tolist()

In [25]:
print(lst_MG_ID)

[9, 17, 41, 49, 57, 73, 87, 99, 125, 135, 147, 159, 179, 187, 203, 225, 241, 255, 263, 275, 287, 297, 305, 325, 335, 343, 363, 373, 385, 395, 403, 413, 433, 445, 453, 461, 472, 481, 494, 505, 518, 536, 545, 560, 569, 576, 583, 592, 607, 620, 627, 634, 641, 650, 657, 664, 676, 683, 694, 701, 708, 736, 746, 788, 798, 808, 834, 856, 874, 920, 934, 952, 970, 1004, 1014, 1040, 1078, 1104, 1126, 1136, 1154, 1172, 1186, 1196, 1230, 1244, 1254, 1288, 1302, 1320, 1334, 1344, 1358, 1392, 1410, 1420, 1430]

In [26]:
# Let get the index of all "REC" as they all the time start on the next row of the "Legacy ID : " (agence code)
lst_MG_REC_idx = df_MG_3.index[df_MG_3[10]=="REC"].tolist()

In [27]:
len(lst_MG_REC_idx)

366

In [28]:
# All "REC" are below the "Legacy ID : ", that's why we proced as follow
lst2 = [i-1 for i in lst_MG_REC_idx]

In [29]:
print(lst2)

[9, 17, 19, 21, 23, 25, 27, 29, 31, 33, 41, 49, 57, 59, 61, 63, 65, 73, 75, 77, 79, 87, 89, 91, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 125, 127, 135, 137, 139, 147, 149, 151, 159, 161, 163, 165, 167, 169, 171, 179, 187, 189, 191, 193, 195, 203, 205, 207, 209, 211, 213, 215, 217, 225, 227, 229, 231, 233, 241, 243, 245, 247, 255, 263, 265, 267, 275, 277, 279, 287, 289, 297, 305, 307, 309, 311, 313, 315, 317, 325, 327, 335, 343, 345, 347, 349, 351, 353, 355, 363, 365, 373, 375, 377, 385, 387, 395, 403, 405, 413, 415, 417, 419, 421, 423, 425, 433, 435, 437, 445, 453, 461, 736, 738, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 788, 790, 798, 800, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 834, 836, 838, 840, 842, 844, 846, 848, 856, 858, 860, 862, 864, 866, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 920, 922, 924, 926, 934, 936, 938, 940, 942, 944, 952, 954, 956, 958, 960, 962, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 1004, 1006, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1126, 1128, 1136, 1138, 1140, 1142, 1144, 1146, 1154, 1156, 1158, 1160, 1162, 1164, 1172, 1174, 1176, 1178, 1186, 1188, 1196, 1198, 1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220, 1222, 1230, 1232, 1234, 1236, 1244, 1246, 1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1288, 1290, 1292, 1294, 1302, 1304, 1306, 1308, 1310, 1312, 1320, 1322, 1324, 1326, 1334, 1336, 1344, 1346, 1348, 1350, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374, 1376, 1378, 1380, 1382, 1384, 1392, 1394, 1396, 1398, 1400, 1402, 1410, 1412, 1420, 1422, 1430, 1432]

In [30]:
# lst3 = list(set(lst_MG_ID) & set(lst2))
lst3 = [value for value in lst_MG_ID if value in lst2]

In [31]:
len(lst3) # Represente the index of code of all agences that made "REC" transaction

72

In [32]:
# lst3.sort()

In [33]:
print(lst3)

[9, 17, 41, 49, 57, 73, 87, 99, 125, 135, 147, 159, 179, 187, 203, 225, 241, 255, 263, 275, 287, 297, 305, 325, 335, 343, 363, 373, 385, 395, 403, 413, 433, 445, 453, 461, 736, 746, 788, 798, 808, 834, 856, 874, 920, 934, 952, 970, 1004, 1014, 1040, 1078, 1104, 1126, 1136, 1154, 1172, 1186, 1196, 1230, 1244, 1254, 1288, 1302, 1320, 1334, 1344, 1358, 1392, 1410, 1420, 1430]

In [34]:
# the index of code of all agences that made "REC" transaction
lst_agnc_cd = df_MG_3.loc[lst3, 8].tolist()

In [35]:
print(lst_agnc_cd)

['715353', '715356', '715358', '715360', '715364', '715368', '717289', '717291', '717300', '717302', '717308', '717309', '717311', '717316', '717317', '717318', '717319', '717322', '717323', '717324', '717325', '717328', '717330', '717332', '717336', '711433', '711434', '711437', '711438', '711442', '711447', '464570', '466434', '549388', '549391', '730750', '715353', '715356', '715358', '715360', '715364', '715368', '717289', '717291', '717300', '717302', '717308', '717309', '717311', '717316', '717317', '717318', '717319', '717322', '717323', '717324', '717325', '717328', '717330', '717332', '717336', '711433', '711434', '711437', '711438', '711442', '711447', '464570', '466434', '549388', '549391', '730750']

In [36]:
lst_REC_Amt = df_MG_3.loc[lst_B_Amt_Rec, 23].tolist()

In [37]:
print(lst_REC_Amt)

[-827657, -8763932, -1000047, -429419, -3708194, -10106853, -2346004, -13648464, -1755140, -5444658, -4879576, -7271966, -500357, -16317516, -7999091, -2837288, -7241537, -859404, -1398654, -1045697, -1290032, -3502499, -7368941, -1486256, -609122, -15138145, -3600048, -1582111, -1446066, -828252, -850073, -6100923, -1455000, -531296, -623697, -1283965, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [38]:
lst_REC_Amt_2 = [t for t in lst_REC_Amt if t!=0]

In [39]:
len(lst_REC_Amt_2)

36

In [40]:
lst_agnc_cd_2 = lst_agnc_cd[0:len(lst_REC_Amt_2)]

In [41]:
print(lst_agnc_cd_2)

['715353', '715356', '715358', '715360', '715364', '715368', '717289', '717291', '717300', '717302', '717308', '717309', '717311', '717316', '717317', '717318', '717319', '717322', '717323', '717324', '717325', '717328', '717330', '717332', '717336', '711433', '711434', '711437', '711438', '711442', '711447', '464570', '466434', '549388', '549391', '730750']

In [42]:
df_MG_REC = pd.DataFrame()

In [43]:
df_MG_REC["CODE"] = lst_agnc_cd_2
df_MG_REC["SYSTEME_REC_MG"] = lst_REC_Amt_2

In [44]:
df_MG_REC

      CODE  SYSTEME_REC_MG
0   715353         -827657
1   715356        -8763932
2   715358        -1000047
3   715360         -429419
4   715364        -3708194
5   715368       -10106853
6   717289        -2346004
7   717291       -13648464
8   717300        -1755140
9   717302        -5444658
10  717308        -4879576
11  717309        -7271966
12  717311         -500357
13  717316       -16317516
14  717317        -7999091
15  717318        -2837288
16  717319        -7241537
17  717322         -859404
18  717323        -1398654
19  717324        -1045697
20  717325        -1290032
21  717328        -3502499
22  717330        -7368941
23  717332        -1486256
24  717336         -609122
25  711433       -15138145
26  711434        -3600048
27  711437        -1582111
28  711438        -1446066
29  711442         -828252
30  711447         -850073
31  464570        -6100923
32  466434        -1455000
33  549388         -531296
34  549391         -623697
35  730750        -1283965

In [45]:
df_MG_REC.shape

(36, 2)

In [46]:
# # For verification purpose
# df_MG_REC.to_excel("test7.xlsx")

In [47]:
%run "D:\SOFIG\SOFIG_MG_04\Codes\change_names_MG_REC.ipynb"
change_names()

In [48]:
df_MG_REC

      CODE  SYSTEME_REC_MG               AGENCES
0   715353         -827657              AEROPORT
1   715356        -8763932                  BOKE
2   715358        -1000047                 BOFFA
3   715360         -429419            CIMENTERIE
4   715364        -3708194               DABOMPA
5   715368       -10106853            DINGUIRAYE
6   717289        -2346004                 ENCO5
7   717291       -13648464                  ENTA
8   717300        -1755140                FATAKO
9   717302        -5444658           FOULAMADINA
10  717308        -4879576               GBESSIA
11  717309        -7271966    GBESSIA ROND POINT
12  717311         -500357                GOLFE2
13  717316       -16317516              KANKAN 2
14  717317        -7999091                KANKAN
15  717318        -2837288               KINDIA1
16  717319        -7241537               KINDIA2
17  717322         -859404                  KM36
18  717323        -1398654              KOLABOUI
19  717324        -1045697                KOLOMA
20  717325        -1290032                 KOUMI
21  717328        -3502499              LAMBANYI
22  717330        -7368941                  LOLA
23  717332        -1486256            MAFERINYAH
24  717336         -609122                 NONGO
25  711433       -15138145             NZEREKORE
26  711434        -3600048             SANGAREDI
27  711437        -1582111       SANGOYAH MARCHE
28  711438        -1446066                 STADE
29  711442         -828252              TOMBOLIA
30  711447         -850073          WANINDARA T5
31  464570        -6100923           NZEREKORE 2
32  466434        -1455000                TANENE
33  549388         -531296      MATOTO DEVIATION
34  549391         -623697                   CSC
35  730750        -1283965  YIMBAYA MANGUEBOUNYI

In [49]:
df_MG_REC.shape

(36, 3)

In [50]:
df_suivi_MG_Rec = pd.read_excel(f"D:\SOFIG\Raprochement\MG\SUIVI_DES_INFORMATIONS_FINANCIERES_DES_AGENCES_{date}.xlsx", engine="openpyxl")

In [51]:
df_suivi_MG_Rec

,numéro,CAISSE AGENCES,SOLDE DE VEILLE,APPRO DU JOUR CP ou AGENCE,APPRO DU JOUR BANQUE,EXPEDITION WU USD,EXPEDITION WU GNF,EXPEDITION MG USD,EXPEDITION MG GNF,DEPOT ORANGE MONEY,PAIEMENT DU JOUR WU,PAIEMENT DU JOUR MG,RETRAIT ORANGE MONEY,"RETOUR à la CP,Banque ou agences",Dépenses du jour,Remboursement,Mutilés,SOLDE DU JOUR,Observation
0,NaN,CAISSE PRINCIPALE,239711752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,324711752,NaN
1,NaN,CAISSE DEPENSES,5745458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5745458,NaN
2,1.0,AEROPORT,12927156,30000000.0,0.0,0.0,0.0,762.0,6705600.0,332000.0,24721372.0,827657.0,2075000.0,0.0,60000.0,0.0,0.0,22280727,NaN
3,2.0,BAMBETO,29087531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29087531,
4,3.0,BELLE VUE,20311236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20311236,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,68.0,TAOUYAH,38068248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38068248,NaN
70,69.0,TOMBOLIA,17012158,0.0,0.0,1635.0,14388000.0,0.0,0.0,0.0,4101996.0,828252.0,0.0,0.0,97000.0,0.0,0.0,26372910,NaN
71,70.0,WANINDARA T5,25068514,0.0,0.0,286.0,2502500.0,53.0,466400.0,0.0,5745583.0,850075.0,0.0,0.0,52000.0,0.0,0.0,21389756,
72,71.0,WONKIFON,7073217,0.0,0.0,0.0,0.0,0.0,0.0,0.0,425917.0,0.0,0.0,0.0,0.0,0.0,0.0,6647300,0
73,72.0,YIMBAYA MANGUEBOUNYI,9381923,0.0,0.0,232.0,2041600.0,0.0,0.0,0.0,0.0,1283965.0,0.0,0.0,60000.0,0.0,NaN,10079558,NaN

In [52]:
df_suivi_MG_Rec_rnd = df_suivi_MG_Rec.rename(columns={"CAISSE AGENCES":"AGENCES", "PAIEMENT DU JOUR MG":"FOLIO_REC_MG"})

In [53]:
df_suivi_MG_Rec_rnd

,numéro,AGENCES,SOLDE DE VEILLE,APPRO DU JOUR CP ou AGENCE,APPRO DU JOUR BANQUE,EXPEDITION WU USD,EXPEDITION WU GNF,EXPEDITION MG USD,EXPEDITION MG GNF,DEPOT ORANGE MONEY,PAIEMENT DU JOUR WU,FOLIO_REC_MG,RETRAIT ORANGE MONEY,"RETOUR à la CP,Banque ou agences",Dépenses du jour,Remboursement,Mutilés,SOLDE DU JOUR,Observation
0,NaN,CAISSE PRINCIPALE,239711752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,324711752,NaN
1,NaN,CAISSE DEPENSES,5745458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5745458,NaN
2,1.0,AEROPORT,12927156,30000000.0,0.0,0.0,0.0,762.0,6705600.0,332000.0,24721372.0,827657.0,2075000.0,0.0,60000.0,0.0,0.0,22280727,NaN
3,2.0,BAMBETO,29087531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29087531,
4,3.0,BELLE VUE,20311236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20311236,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,68.0,TAOUYAH,38068248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38068248,NaN
70,69.0,TOMBOLIA,17012158,0.0,0.0,1635.0,14388000.0,0.0,0.0,0.0,4101996.0,828252.0,0.0,0.0,97000.0,0.0,0.0,26372910,NaN
71,70.0,WANINDARA T5,25068514,0.0,0.0,286.0,2502500.0,53.0,466400.0,0.0,5745583.0,850075.0,0.0,0.0,52000.0,0.0,0.0,21389756,
72,71.0,WONKIFON,7073217,0.0,0.0,0.0,0.0,0.0,0.0,0.0,425917.0,0.0,0.0,0.0,0.0,0.0,0.0,6647300,0
73,72.0,YIMBAYA MANGUEBOUNYI,9381923,0.0,0.0,232.0,2041600.0,0.0,0.0,0.0,0.0,1283965.0,0.0,0.0,60000.0,0.0,NaN,10079558,NaN

In [54]:
df_suivi_MG_Rec_stz = df_suivi_MG_Rec_rnd[["AGENCES", "FOLIO_REC_MG"]].fillna(0)

In [55]:
df_suivi_MG_Rec_stz

                 AGENCES  FOLIO_REC_MG
0      CAISSE PRINCIPALE           0.0
1        CAISSE DEPENSES           0.0
2               AEROPORT      827657.0
3                BAMBETO           0.0
4              BELLE VUE           0.0
..                   ...           ...
69               TAOUYAH           0.0
70              TOMBOLIA      828252.0
71          WANINDARA T5      850075.0
72              WONKIFON           0.0
73  YIMBAYA MANGUEBOUNYI     1283965.0

[74 rows x 2 columns]

In [56]:
%run "D:\SOFIG\SOFIG_MG_04\Codes\liste_agence_MG.ipynb"
df_list_MG

      CODE      AGENCES
0   715353     AEROPORT
1   715354      BAMBETO
2   715355    BELLE VUE
3   715356         BOKE
4   715358       BOFFA
..     ...          ...
69  797285  SANGAREDI 2
70  799132   SONFONIA 2
71  799136       BALATO
72  799137      KAMSAR3
73  799147     WONKIFON

[74 rows x 2 columns]

In [57]:
df_MG_Rec_c = [df_list_MG, df_suivi_MG_Rec_stz, df_MG_REC]

In [58]:
df_MG_Rec_compile = ft.reduce(lambda left, right: pd.merge(left, right, on="AGENCES", how="left"), df_MG_Rec_c).fillna(0)

In [59]:
df_MG_Rec_compile

    CODE_x      AGENCES  FOLIO_REC_MG  CODE_y  SYSTEME_REC_MG
0   715353     AEROPORT      827657.0  715353       -827657.0
1   715354      BAMBETO           0.0       0             0.0
2   715355    BELLE VUE           0.0       0             0.0
3   715356         BOKE     8763932.0  715356      -8763932.0
4   715358       BOFFA            0.0       0             0.0
..     ...          ...           ...     ...             ...
69  797285  SANGAREDI 2           0.0       0             0.0
70  799132   SONFONIA 2           0.0       0             0.0
71  799136       BALATO           0.0       0             0.0
72  799137      KAMSAR3           0.0       0             0.0
73  799147     WONKIFON           0.0       0             0.0

[74 rows x 5 columns]

In [60]:
df_MG_Rec_compile["SYSTEME_REC_MG"] = df_MG_Rec_compile["SYSTEME_REC_MG"].abs()

In [61]:
df_MG_Rec_compile

    CODE_x      AGENCES  FOLIO_REC_MG  CODE_y  SYSTEME_REC_MG
0   715353     AEROPORT      827657.0  715353        827657.0
1   715354      BAMBETO           0.0       0             0.0
2   715355    BELLE VUE           0.0       0             0.0
3   715356         BOKE     8763932.0  715356       8763932.0
4   715358       BOFFA            0.0       0             0.0
..     ...          ...           ...     ...             ...
69  797285  SANGAREDI 2           0.0       0             0.0
70  799132   SONFONIA 2           0.0       0             0.0
71  799136       BALATO           0.0       0             0.0
72  799137      KAMSAR3           0.0       0             0.0
73  799147     WONKIFON           0.0       0             0.0

[74 rows x 5 columns]

In [62]:
df_MG_Rec_compile["DIFFERENCE_REC_MG"] = df_MG_Rec_compile["FOLIO_REC_MG"] - df_MG_Rec_compile["SYSTEME_REC_MG"]

In [63]:
df_MG_Rec_compile

,CODE_x,AGENCES,FOLIO_REC_MG,CODE_y,SYSTEME_REC_MG,DIFFERENCE_REC_MG
0,715353,AEROPORT,827657.0,715353,827657.0,0.0
1,715354,BAMBETO,0.0,0,0.0,0.0
2,715355,BELLE VUE,0.0,0,0.0,0.0
3,715356,BOKE,8763932.0,715356,8763932.0,0.0
4,715358,BOFFA,0.0,0,0.0,0.0
...,...,...,...,...,...,...
69,797285,SANGAREDI 2,0.0,0,0.0,0.0
70,799132,SONFONIA 2,0.0,0,0.0,0.0
71,799136,BALATO,0.0,0,0.0,0.0
72,799137,KAMSAR3,0.0,0,0.0,0.0
73,799147,WONKIFON,0.0,0,0.0,0.0

In [64]:
df_MG_Rec_compile_rnd = df_MG_Rec_compile.rename(columns={"CODE_x":"CODE"})

In [65]:
df_MG_Rec_compile_rnd

,CODE,AGENCES,FOLIO_REC_MG,CODE_y,SYSTEME_REC_MG,DIFFERENCE_REC_MG
0,715353,AEROPORT,827657.0,715353,827657.0,0.0
1,715354,BAMBETO,0.0,0,0.0,0.0
2,715355,BELLE VUE,0.0,0,0.0,0.0
3,715356,BOKE,8763932.0,715356,8763932.0,0.0
4,715358,BOFFA,0.0,0,0.0,0.0
...,...,...,...,...,...,...
69,797285,SANGAREDI 2,0.0,0,0.0,0.0
70,799132,SONFONIA 2,0.0,0,0.0,0.0
71,799136,BALATO,0.0,0,0.0,0.0
72,799137,KAMSAR3,0.0,0,0.0,0.0
73,799147,WONKIFON,0.0,0,0.0,0.0

In [66]:
df_MG_Rec_compile_rnd_2 = df_MG_Rec_compile_rnd[["CODE", "AGENCES", "FOLIO_REC_MG", "SYSTEME_REC_MG", "DIFFERENCE_REC_MG"]]

In [67]:
df_MG_Rec_compile_rnd_2

      CODE      AGENCES  FOLIO_REC_MG  SYSTEME_REC_MG  DIFFERENCE_REC_MG
0   715353     AEROPORT      827657.0        827657.0                0.0
1   715354      BAMBETO           0.0             0.0                0.0
2   715355    BELLE VUE           0.0             0.0                0.0
3   715356         BOKE     8763932.0       8763932.0                0.0
4   715358       BOFFA            0.0             0.0                0.0
..     ...          ...           ...             ...                ...
69  797285  SANGAREDI 2           0.0             0.0                0.0
70  799132   SONFONIA 2           0.0             0.0                0.0
71  799136       BALATO           0.0             0.0                0.0
72  799137      KAMSAR3           0.0             0.0                0.0
73  799147     WONKIFON           0.0             0.0                0.0

[74 rows x 5 columns]