In [1]:
import pandas as pd
import numpy as np
import re
import functools as ft

In [2]:
date = "27_04_2023"

In [3]:
df_MG = pd.read_excel(f"D:\SOFIG Documents\Reajustement_MG\Fichiers\SettlementDetailFX_{date}.xlsx", engine="openpyxl")

In [4]:
df_MG

,Unnamed: 0,IMMEUBLE LE GOLFE COLEAH LANSEBOUNDJI C/MATAM,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,NaN,CONAKRY BP 160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,GN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Settlement Id: 127008157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Business Date: 04/27/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Payment Due Date :,NaN,NaN,NaN,2017-11-13 00:00:00,NaN
4,NaN,Settlement Currency :,NaN,NaN,NaN,NaN,NaN,USD,NaN,Transaction Currency :,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1582,NaN,NaN,NaN,NaN,NaN,FRAUD WARNING:,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1583,NaN,NaN,NaN,NaN,NaN,MoneyGram will never call you to ask you to se...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1584,NaN,NaN,NaN,NaN,NaN,The only time you will be asked for this infor...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1585,NaN,NaN,NaN,NaN,NaN,For Questions Please Contact: 1-800-444-3010,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_MG_array = np.array(df_MG)

In [6]:
df_MG_array

array([[nan, 'CONAKRY  BP 160', nan, ..., nan, nan, nan],
       [nan, 'GN', nan, ..., nan, nan, nan],
       [nan, 'Settlement Id: 127008157', nan, ..., nan, nan, nan],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [7]:
# print(df_MG_array[1055].tolist())

In [8]:
df_MG_2 = pd.DataFrame(df_MG_array)

In [9]:
df_MG_2

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,NaN,CONAKRY BP 160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,GN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Settlement Id: 127008157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Business Date: 04/27/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Payment Due Date :,NaN,NaN,NaN,2017-11-13 00:00:00,NaN
4,NaN,Settlement Currency :,NaN,NaN,NaN,NaN,NaN,USD,NaN,Transaction Currency :,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1582,NaN,NaN,NaN,NaN,NaN,FRAUD WARNING:,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1583,NaN,NaN,NaN,NaN,NaN,MoneyGram will never call you to ask you to se...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1584,NaN,NaN,NaN,NaN,NaN,The only time you will be asked for this infor...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1585,NaN,NaN,NaN,NaN,NaN,For Questions Please Contact: 1-800-444-3010,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Very important parameter of fillna that consist to fill a column value with the same as previous
test_lst = df_MG_2[8].fillna(method="pad").tolist()
print(test_lst)

[nan, nan, nan, nan, nan, nan, nan, nan, 'SOFIG - CONAKRY - AEROPORT', '715353', '715353', '715353', '715353', '715353', '715353', '715353', 'SOFIG - CONAKRY - BAMBETO', '715354', '715354', '715354', '715354', '715354', '715354', '715354', 'SOFIG - BOKE - BOKE', '715356', '715356', '715356', '715356', '715356', '715356', '715356', 'SOFIG - BOFFA - BOFFA', '715358', '715358', '715358', '715358', '715358', '715358', '715358', 'SOFIG - CONAKRY - BOULEVARD', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', 'SOFIG - CONAKRY - CONSTANTIN', '715361', '715361', '715361', '715361', '715361', '715361', '715361', '715361', '715361', 'SOFIG - CONAKRY - COSA', '715362', '715362', '715362', '715362', '715362', '715362', '715362', '715362', '715362', 'SOFIG - CONAKRY - DABOMPA', '715364', '715364', '715364', '715364', '715364', '715364', '715364', '715364', '715364', 'SOFIG - COYAH - COYAH', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', 'SOFIG - DUBREKA - DUBREKA', '717256', '717256', '717256', '717256', '717256', '717256', '717256', '717256', '717256', 'SOFIG - CONAKRY - ENCO5', '717289', '717289', '717289', '717289', '717289', '717289', '717289', 'SOFIG - CONAKRY - ENTA', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', 'SOFIG - FARANAH - FARANAH', '717296', '717296', '717296', '717296', '717296', '717296', '717296', 'SOFIG - CONAKRY - FATAKO', '717300', '717300', '717300', '717300', '717300', '717300', '717300', 'SOFIG - CONAKRY - FOULAMADINA', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', 'SOFIG - GBESSIA - GBESSIA ROND POINT', '717309', '717309', '717309', '717309', '717309', '717309', '717309', '717309', '717309', 'SOFIG - CONAKRY - GOLFE1', '717310', '717310', '717310', '717310', '717310', '717310', '717310', 'SOFIG - KAMASAR - KAMSAR', '717314', '717314', '717314', '717314', '717314', '717314', '717314', 'SOFIG - KAMSAR - KAMSAR CITE', '717315', '717315', '717315', '717315', '717315', '717315', '717315', "SOFIG - M'BALIA - KANKAN 2", '717316', '717316', '717316', '717316', '717316', '717316', '717316', 'SOFIG - KINDIA - KINDIA1', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', 'SOFIG - KIANDIA - KINDIA2', '717319', '717319', '717319', '717319', '717319', '717319', '717319', '717319', '717319', 'SOFIG - CONAKRY - KIPE', '717320', '717320', '717320', '717320', '717320', '717320', '717320', 'SOFIG - KOLABOUNDJI - KM36', '717322', '717322', '717322', '717322', '717322', '717322', '717322', '717322', '717322', 'SOFIG - CONAKRY - KOLABOUI', '717323', '717323', '717323', '717323', '717323', '717323', '717323', '717323', '717323', 'SOFIG - CONAKRY - KOLOMA', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', 'SOFIG - KOUNDARA - KOUNDARA', '717326', '717326', '717326', '717326', '717326', '717326', '717326', '717326', '717326', 'SOFIG - LABE - LABE', '717327', '717327', '717327', '717327', '717327', '717327', '717327', 'SOFIG - CONAKRY - LAMBANYI', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', 'SOFIG - CONAKRY - LANSANAYA BARRAGE', '717329', '717329', '717329', '717329', '717329', '717329', '717329', 'SOFIG - LOLA - LOLA', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', 'SOFIG - FORECARIAH - MAFERINYA', '717332', '717332', '717332', '717332', '717332', '717332', '717332', '717332', '717332', 'SOFIG - CONAKRY - NIGER1', '717335', '717335', '717335', '717335', '717335', '717335', '717335', 'SOFIG - CONAKRY - NONGO', '717336', '717336', '717336', '717336', '717336', '717336', '717336', "SOFIG - N'ZEREKORE - NZEREKORE", '711433', '711433', '711433', '711433', '711433', '711433', '711433', 'SOFIG - CONAKRY - SANGAREDI', '711434', '711434', '711434', '711434', '711434', '711434', '711434', 'SOFIG - CONAKRY - SANGOYAH', '711437', '711437', '711437', '711437', '711437', '711437', '711437', 'SOFIG - CONAKRY - STADE', '711438', '711438', '711438', '711438', '711438', '711438', '711438', '711438', '711438', 'SOFIG - CONAKRY - T8', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', 'SOFIG - CONAKRY - TOMBOLIA', '711442', '711442', '711442', '711442', '711442', '711442', '711442', 'SOFIG - NZEREKORE - NZEREKORE2', '464570', '464570', '464570', '464570', '464570', '464570', '464570', '464570', '464570', 'SOFIG - CONAKRY - SANGOYAH1', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', 'SOFIG - CONAKRY - MATOTO 1', '549388', '549388', '549388', '549388', '549388', '549388', '549388', '549388', '549388', 'SOFIG - #69 - COYAH - GOMBOYAH 2', '577015', '577015', '577015', '577015', '577015', '577015', '577015', 'SOFIG - CONAKRY - SIMBAYA', '674762', '674762', '674762', '674762', '674762', '674762', '674762', 'SOFIG SA - CONAKRY - YIMBAYA MANGUEBOUNYI', '730750', '730750', '730750', '730750', '730750', '730750', '730750', 'SOFIG SA - #74 - CONAKRY - SONFONIA 2', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', 'SOFIG - CONAKRY - AEROPORT', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', 'SOFIG - CONAKRY - BELLE VUE', '715355', '715355', '715355', '715355', '715355', '715355', '715355', '715355', '715355', '715355', 'SOFIG - BOKE - BOKE', '715356', '715356', '715356', '715356', '715356', '715356', 'SOFIG - CONAKRY - BOULEVARD', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', 'SOFIG - CONAKRY - CIMENTERIE', '715360', '715360', '715360', '715360', '715360', '715360', 'SOFIG - CONAKRY - CONSTANTIN', '715361', '715361', '715361', '715361', '715361', '715361', '715361', '715361', '715361', '715361', 'SOFIG - CONAKRY - COSA', '715362', '715362', '715362', '715362', '715362', '715362', 'SOFIG - DINGUIRAYE - DINGUIRAYE', '715368', '715368', '715368', '715368', '715368', '715368', '715368', '715368', 'SOFIG - DUBREKA - DUBREKA', '717256', '717256', '717256', '717256', '717256', '717256', '717256', '717256', '717256', '717256', 'SOFIG - CONAKRY - ENCO5', '717289', '717289', '717289', '717289', '717289', '717289', '717289', '717289', '717289', '717289', 'SOFIG - CONAKRY - ENTA', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', 'SOFIG - CONAKRY - FATAKO', '717300', '717300', '717300', '717300', '717300', '717300', 'SOFIG - CONAKRY - FOULAMADINA', '717302', '717302', '717302', '717302', '717302', '717302', 'SOFIG - GBESSIA - GBESSIA', '717308', '717308', '717308', '717308', '717308', '717308', '717308', '717308', 'SOFIG - GBESSIA - GBESSIA ROND POINT', '717309', '717309', '717309', '717309', '717309', '717309', 'SOFIG - CONAKRY - GOLFE1', '717310', '717310', '717310', '717310', '717310', '717310', 'SOFIG - KAMASAR - KAMSAR', '717314', '717314', '717314', '717314', '717314', '717314', 'SOFIG - KAMSAR - KAMSAR CITE', '717315', '717315', '717315', '717315', '717315', '717315', '717315', '717315', "SOFIG - M'BALIA - KANKAN 2", '717316', '717316', '717316', '717316', '717316', '717316', '717316', '717316', '717316', '717316', 'SOFIG - KINDIA - KINDIA1', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', 'SOFIG - CONAKRY - KIPE', '717320', '717320', '717320', '717320', '717320', '717320', 'SOFIG - KOLABOUNDJI - KM36', '717322', '717322', '717322', '717322', '717322', '717322', '717322', '717322', '717322', '717322', 'SOFIG - CONAKRY - KOLOMA', '717324', '717324', '717324', '717324', '717324', '717324', 'SOFIG - CONAKRY - KOUMI', '717325', '717325', '717325', '717325', '717325', '717325', '717325', '717325', 'SOFIG - LABE - LABE', '717327', '717327', '717327', '717327', '717327', '717327', 'SOFIG - CONAKRY - LAMBANYI', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', 'SOFIG - CONAKRY - LANSANAYA BARRAGE', '717329', '717329', '717329', '717329', '717329', '717329', '717329', '717329', 'SOFIG - FORECARIAH - MAFERINYA', '717332', '717332', '717332', '717332', '717332', '717332', '717332', '717332', 'SOFIG - CONAKRY - NIGER1', '717335', '717335', '717335', '717335', '717335', '717335', '717335', '717335', '717335', '717335', 'SOFIG - CONAKRY - NONGO', '717336', '717336', '717336', '717336', '717336', '717336', "SOFIG - N'ZEREKORE - NZEREKORE", '711433', '711433', '711433', '711433', '711433', '711433', '711433', '711433', 'SOFIG - CONAKRY - SANGAREDI', '711434', '711434', '711434', '711434', '711434', '711434', 'SOFIG - CONAKRY - SONFONIA', '711436', '711436', '711436', '711436', '711436', '711436', 'SOFIG - CONAKRY - STADE', '711438', '711438', '711438', '711438', '711438', '711438', 'SOFIG - CONAKRY - T8', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', 'SOFIG - NZEREKORE - NZEREKORE2', '464570', '464570', '464570', '464570', '464570', '464570', '464570', '464570', '464570', '464570', 'SOFIG - CONAKRY - SANGOYAH1', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', 'SOFIG - CONAKRY - TANENE', '466434', '466434', '466434', '466434', '466434', '466434', 'SOFIG - CONAKRY - MATOTO 1', '549388', '549388', '549388', '549388', '549388', '549388', '549388', '549388', 'SOFIG - #69 - COYAH - GOMBOYAH 2', '577015', '577015', '577015', '577015', '577015', '577015', 'SOFIG - CONAKRY - MADINA CENTRE SADAKADJI', '674760', '674760', '674760', '674760', '674760', '674760', 'SOFIG - CONAKRY - SIMBAYA', '674762', '674762', '674762', '674762', '674762', '674762', 'SOFIG SA - #74 - CONAKRY - SONFONIA 2', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', 'SOFIG - CONAKRY - AEROPORT', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', 'SOFIG - CONAKRY - BAMBETO', '715354', '715354', '715354', '715354', '715354', '715354', '715354', '715354', '715354', 'SOFIG - BOKE - BOKE', '715356', '715356', '715356', '715356', '715356', '715356', '715356', '715356', '715356', 'SOFIG - BOFFA - BOFFA', '715358', '715358', '715358', '715358', '715358', '715358', '715358', '715358', '715358', 'SOFIG - CONAKRY - BOULEVARD', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', '715359', 'SOFIG - CONAKRY - CONSTANTIN', '715361', '715361', '715361', '715361', '715361', '715361', '715361', '715361', '715361', '715361', '715361', '715361', '715361', 'SOFIG - CONAKRY - COSA', '715362', '715362', '715362', '715362', '715362', '715362', '715362', '715362', '715362', '715362', '715362', '715362', '715362', 'SOFIG - CONAKRY - DABOMPA', '715364', '715364', '715364', '715364', '715364', '715364', '715364', '715364', '715364', '715364', '715364', '715364', '715364', 'SOFIG - COYAH - COYAH', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', '715366', 'SOFIG - DUBREKA - DUBREKA', '717256', '717256', '717256', '717256', '717256', '717256', '717256', '717256', '717256', '717256', '717256', '717256', '717256', 'SOFIG - CONAKRY - ENCO5', '717289', '717289', '717289', '717289', '717289', '717289', '717289', '717289', '717289', 'SOFIG - CONAKRY - ENTA', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', '717291', 'SOFIG - FARANAH - FARANAH', '717296', '717296', '717296', '717296', '717296', '717296', '717296', '717296', '717296', 'SOFIG - CONAKRY - FATAKO', '717300', '717300', '717300', '717300', '717300', '717300', '717300', '717300', '717300', 'SOFIG - CONAKRY - FOULAMADINA', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', '717302', 'SOFIG - GBESSIA - GBESSIA ROND POINT', '717309', '717309', '717309', '717309', '717309', '717309', '717309', '717309', '717309', '717309', '717309', '717309', '717309', 'SOFIG - CONAKRY - GOLFE1', '717310', '717310', '717310', '717310', '717310', '717310', '717310', '717310', '717310', 'SOFIG - KAMASAR - KAMSAR', '717314', '717314', '717314', '717314', '717314', '717314', '717314', '717314', '717314', 'SOFIG - KAMSAR - KAMSAR CITE', '717315', '717315', '717315', '717315', '717315', '717315', '717315', '717315', '717315', "SOFIG - M'BALIA - KANKAN 2", '717316', '717316', '717316', '717316', '717316', '717316', '717316', '717316', '717316', 'SOFIG - KINDIA - KINDIA1', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', '717318', 'SOFIG - KIANDIA - KINDIA2', '717319', '717319', '717319', '717319', '717319', '717319', '717319', '717319', '717319', '717319', '717319', '717319', '717319', 'SOFIG - CONAKRY - KIPE', '717320', '717320', '717320', '717320', '717320', '717320', '717320', '717320', '717320', 'SOFIG - KOLABOUNDJI - KM36', '717322', '717322', '717322', '717322', '717322', '717322', '717322', '717322', '717322', '717322', '717322', '717322', '717322', 'SOFIG - CONAKRY - KOLABOUI', '717323', '717323', '717323', '717323', '717323', '717323', '717323', '717323', '717323', '717323', '717323', '717323', '717323', 'SOFIG - CONAKRY - KOLOMA', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', '717324', 'SOFIG - KOUNDARA - KOUNDARA', '717326', '717326', '717326', '717326', '717326', '717326', '717326', '717326', '717326', '717326', '717326', '717326', '717326', 'SOFIG - LABE - LABE', '717327', '717327', '717327', '717327', '717327', '717327', '717327', '717327', '717327', 'SOFIG - CONAKRY - LAMBANYI', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', '717328', 'SOFIG - CONAKRY - LANSANAYA BARRAGE', '717329', '717329', '717329', '717329', '717329', '717329', '717329', '717329', '717329', 'SOFIG - LOLA - LOLA', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', '717330', 'SOFIG - FORECARIAH - MAFERINYA', '717332', '717332', '717332', '717332', '717332', '717332', '717332', '717332', '717332', '717332', '717332', '717332', '717332', 'SOFIG - CONAKRY - NIGER1', '717335', '717335', '717335', '717335', '717335', '717335', '717335', '717335', '717335', 'SOFIG - CONAKRY - NONGO', '717336', '717336', '717336', '717336', '717336', '717336', '717336', '717336', '717336', "SOFIG - N'ZEREKORE - NZEREKORE", '711433', '711433', '711433', '711433', '711433', '711433', '711433', '711433', '711433', 'SOFIG - CONAKRY - SANGAREDI', '711434', '711434', '711434', '711434', '711434', '711434', '711434', '711434', '711434', 'SOFIG - CONAKRY - SANGOYAH', '711437', '711437', '711437', '711437', '711437', '711437', '711437', '711437', '711437', 'SOFIG - CONAKRY - STADE', '711438', '711438', '711438', '711438', '711438', '711438', '711438', '711438', '711438', '711438', '711438', '711438', '711438', 'SOFIG - CONAKRY - T8', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', '711439', 'SOFIG - CONAKRY - TOMBOLIA', '711442', '711442', '711442', '711442', '711442', '711442', '711442', '711442', '711442', 'SOFIG - NZEREKORE - NZEREKORE2', '464570', '464570', '464570', '464570', '464570', '464570', '464570', '464570', '464570', '464570', '464570', '464570', '464570', 'SOFIG - CONAKRY - SANGOYAH1', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', '466424', 'SOFIG - CONAKRY - MATOTO 1', '549388', '549388', '549388', '549388', '549388', '549388', '549388', '549388', '549388', '549388', '549388', '549388', '549388', 'SOFIG - #69 - COYAH - GOMBOYAH 2', '577015', '577015', '577015', '577015', '577015', '577015', '577015', '577015', '577015', 'SOFIG - CONAKRY - SIMBAYA', '674762', '674762', '674762', '674762', '674762', '674762', '674762', '674762', '674762', 'SOFIG SA - CONAKRY - YIMBAYA MANGUEBOUNYI', '730750', '730750', '730750', '730750', '730750', '730750', '730750', '730750', '730750', 'SOFIG SA - #74 - CONAKRY - SONFONIA 2', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', '799132', 'SOFIG - CONAKRY - AEROPORT', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353', '715353']

In [11]:
df_MG_2[8] = test_lst

In [12]:
df_MG_2

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,NaN,CONAKRY BP 160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,GN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Settlement Id: 127008157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Business Date: 04/27/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Payment Due Date :,NaN,NaN,NaN,2017-11-13 00:00:00,NaN
4,NaN,Settlement Currency :,NaN,NaN,NaN,NaN,NaN,USD,NaN,Transaction Currency :,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,715353,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1582,NaN,NaN,NaN,NaN,NaN,FRAUD WARNING:,NaN,NaN,715353,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1583,NaN,NaN,NaN,NaN,NaN,MoneyGram will never call you to ask you to se...,NaN,NaN,715353,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1584,NaN,NaN,NaN,NaN,NaN,The only time you will be asked for this infor...,NaN,NaN,715353,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1585,NaN,NaN,NaN,NaN,NaN,For Questions Please Contact: 1-800-444-3010,NaN,NaN,715353,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# For verification purpose
# df_MG_2.to_excel("test6.xlsx")

# Let filter by REC

In [14]:
df_MG_Rec = df_MG_2[df_MG_2[10] == "REC"]
df_MG_Rec

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
10,NaN,04/27/2023,NaN,2708924854,NaN,NaN,NaN,94759905,715353,MT,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,-1016447,NaN
18,NaN,04/27/2023,NaN,2708876798,NaN,NaN,NaN,79699022,715354,MT,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,-502377,NaN
26,NaN,04/27/2023,NaN,2709331143,NaN,NaN,NaN,39725770,715356,MT,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,-1000009,NaN
34,NaN,04/27/2023,NaN,2709271505,NaN,NaN,NaN,37122633,715358,MT,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,-604336,NaN
42,NaN,04/27/2023,NaN,2700279169,NaN,NaN,NaN,36463159,715359,MT,...,NaN,0,NaN,NaN,NaN,0,NaN,NaN,-1000044,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1532,NaN,04/27/2023,NaN,2709303866,NaN,NaN,NaN,33569397,730750,MT,...,NaN,0,NaN,NaN,NaN,639.99,NaN,mk,639.99,NaN
1540,NaN,04/27/2023,NaN,2709052064,NaN,NaN,NaN,88877432,799132,MT,...,NaN,0,NaN,NaN,NaN,-3429.3,NaN,NaN,-3429.3,NaN
1542,NaN,04/27/2023,NaN,2709052064,NaN,NaN,NaN,88877432,799132,MT,...,NaN,0,NaN,NaN,NaN,342.93,NaN,mk,342.93,NaN
1553,NaN,04/27/2023,NaN,2709119737,NaN,NaN,NaN,61374569,715353,MT,...,NaN,0,NaN,NaN,NaN,-1.52,NaN,NaN,-1.52,NaN
1554,NaN,04/27/2023,NaN,2709119737,NaN,NaN,NaN,61374569,715353,MT,...,NaN,0,NaN,NaN,NaN,0.15,NaN,mk,0.15,NaN

In [15]:
df_MG_Rec= df_MG_Rec.fillna(0)
df_MG_Rec

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
10,0,04/27/2023,0,2708924854,0,0,0,94759905,715353,MT,...,0,0.0,0,0,0,0.00,0,0,-1016447.00,0
18,0,04/27/2023,0,2708876798,0,0,0,79699022,715354,MT,...,0,0.0,0,0,0,0.00,0,0,-502377.00,0
26,0,04/27/2023,0,2709331143,0,0,0,39725770,715356,MT,...,0,0.0,0,0,0,0.00,0,0,-1000009.00,0
34,0,04/27/2023,0,2709271505,0,0,0,37122633,715358,MT,...,0,0.0,0,0,0,0.00,0,0,-604336.00,0
42,0,04/27/2023,0,2700279169,0,0,0,36463159,715359,MT,...,0,0.0,0,0,0,0.00,0,0,-1000044.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1532,0,04/27/2023,0,2709303866,0,0,0,33569397,730750,MT,...,0,0.0,0,0,0,639.99,0,mk,639.99,0
1540,0,04/27/2023,0,2709052064,0,0,0,88877432,799132,MT,...,0,0.0,0,0,0,-3429.30,0,0,-3429.30,0
1542,0,04/27/2023,0,2709052064,0,0,0,88877432,799132,MT,...,0,0.0,0,0,0,342.93,0,mk,342.93,0
1553,0,04/27/2023,0,2709119737,0,0,0,61374569,715353,MT,...,0,0.0,0,0,0,-1.52,0,0,-1.52,0
1554,0,04/27/2023,0,2709119737,0,0,0,61374569,715353,MT,...,0,0.0,0,0,0,0.15,0,mk,0.15,0

In [16]:
# df_MG_Rec.to_excel("df_MG_Rec.xlsx")

In [17]:
df_MG_Rec = df_MG_Rec[df_MG_Rec[23] != 0]
df_MG_Rec

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
10,0,04/27/2023,0,2708924854,0,0,0,94759905,715353,MT,...,0,0.0,0,0,0,0.0,0,0,-1016447.00,0
18,0,04/27/2023,0,2708876798,0,0,0,79699022,715354,MT,...,0,0.0,0,0,0,0.0,0,0,-502377.00,0
26,0,04/27/2023,0,2709331143,0,0,0,39725770,715356,MT,...,0,0.0,0,0,0,0.0,0,0,-1000009.00,0
34,0,04/27/2023,0,2709271505,0,0,0,37122633,715358,MT,...,0,0.0,0,0,0,0.0,0,0,-604336.00,0
42,0,04/27/2023,0,2700279169,0,0,0,36463159,715359,MT,...,0,0.0,0,0,0,0.0,0,0,-1000044.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,0,04/27/2023,0,2702284934,0,0,0,92476266,577015,MT,...,0,0.0,0,0,0,0.0,0,0,-204153.00,0
454,0,04/27/2023,0,2709167336,0,0,0,89466992,674762,MT,...,0,0.0,0,0,0,0.0,0,0,-503038.00,0
462,0,04/27/2023,0,2709303866,0,0,0,33569397,730750,MT,...,0,0.0,0,0,0,0.0,0,0,-1008617.00,0
470,0,04/27/2023,0,2709052064,0,0,0,88877432,799132,MT,...,0,0.0,0,0,0,0.0,0,0,-1015344.00,0
481,0,04/27/2023,0,2709119737,0,0,0,61374569,715353,MT,...,0,0.0,0,0,0,0.0,0,0,-218.59,0

In [18]:
# df_MG_Rec.to_excel("df_MG_Rec_02.xlsx")

In [19]:
df_MG_Rec = df_MG_Rec[[1, 7, 8, 23]]
df_MG_Rec

             1         7       8           23
10   04/27/2023  94759905  715353 -1016447.00
18   04/27/2023  79699022  715354  -502377.00
26   04/27/2023  39725770  715356 -1000009.00
34   04/27/2023  37122633  715358  -604336.00
42   04/27/2023  36463159  715359 -1000044.00
..          ...       ...     ...         ...
446  04/27/2023  92476266  577015  -204153.00
454  04/27/2023  89466992  674762  -503038.00
462  04/27/2023  33569397  730750 -1008617.00
470  04/27/2023  88877432  799132 -1015344.00
481  04/27/2023  61374569  715353     -218.59

[94 rows x 4 columns]

In [20]:
%run "D:\SOFIG Documents\Reajustement_MG\Codes\creating_corresponding_code_REC.ipynb"
change_code()

c:\users\smsi\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
c:\users\smsi\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [21]:
df_MG_Rec

             1         7       8           23  9
10   04/27/2023  94759905  715353 -1016447.00   1
18   04/27/2023  79699022  715354  -502377.00   2
26   04/27/2023  39725770  715356 -1000009.00   6
34   04/27/2023  37122633  715358  -604336.00   5
42   04/27/2023  36463159  715359 -1000044.00   4
..          ...       ...     ...         ...  ..
446  04/27/2023  92476266  577015  -204153.00  64
454  04/27/2023  89466992  674762  -503038.00  75
462  04/27/2023  33569397  730750 -1008617.00  78
470  04/27/2023  88877432  799132 -1015344.00  71
481  04/27/2023  61374569  715353     -218.59   1

[94 rows x 5 columns]

In [22]:
# We assign the value to the following new columns according to template that is uploadable in Money Service app
df_MG_Rec.loc[:, 10] = 0
df_MG_Rec.loc[:, 11] = 0
df_MG_Rec.loc[:, 12] = 6
df_MG_Rec.loc[:, 13] = 1
df_MG_Rec.loc[:, 14] = 1

c:\users\smsi\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
c:\users\smsi\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [23]:
df_MG_Rec

             1         7       8           23  9   10  11  12  13  14
10   04/27/2023  94759905  715353 -1016447.00   1   0   0   6   1   1
18   04/27/2023  79699022  715354  -502377.00   2   0   0   6   1   1
26   04/27/2023  39725770  715356 -1000009.00   6   0   0   6   1   1
34   04/27/2023  37122633  715358  -604336.00   5   0   0   6   1   1
42   04/27/2023  36463159  715359 -1000044.00   4   0   0   6   1   1
..          ...       ...     ...         ...  ..  ..  ..  ..  ..  ..
446  04/27/2023  92476266  577015  -204153.00  64   0   0   6   1   1
454  04/27/2023  89466992  674762  -503038.00  75   0   0   6   1   1
462  04/27/2023  33569397  730750 -1008617.00  78   0   0   6   1   1
470  04/27/2023  88877432  799132 -1015344.00  71   0   0   6   1   1
481  04/27/2023  61374569  715353     -218.59   1   0   0   6   1   1

[94 rows x 10 columns]

In [24]:
df_MG_Rec = df_MG_Rec[[7, 13, 12, 9, 14, 23, 10, 11, 1]]

In [25]:
df_MG_Rec

           7   13  12  9   14          23  10  11          1
10   94759905   1   6   1   1 -1016447.00   0   0  04/27/2023
18   79699022   1   6   2   1  -502377.00   0   0  04/27/2023
26   39725770   1   6   6   1 -1000009.00   0   0  04/27/2023
34   37122633   1   6   5   1  -604336.00   0   0  04/27/2023
42   36463159   1   6   4   1 -1000044.00   0   0  04/27/2023
..        ...  ..  ..  ..  ..         ...  ..  ..         ...
446  92476266   1   6  64   1  -204153.00   0   0  04/27/2023
454  89466992   1   6  75   1  -503038.00   0   0  04/27/2023
462  33569397   1   6  78   1 -1008617.00   0   0  04/27/2023
470  88877432   1   6  71   1 -1015344.00   0   0  04/27/2023
481  61374569   1   6   1   1     -218.59   0   0  04/27/2023

[94 rows x 9 columns]

In [26]:
# df_MG_Rec.to_excel("verify_code.xlsx")

In [27]:
df_MG_Rec.dtypes

7      object
13      int64
12      int64
9      object
14      int64
23    float64
10      int64
11      int64
1      object
dtype: object

In [28]:
df_MG_Rec = df_MG_Rec.fillna(0)

In [29]:
# Let convert the values of column "9" as is content MS agences codes
df_MG_Rec[9] = df_MG_Rec[9].astype(int)

In [32]:
df_MG_Rec.dtypes

7      object
13      int64
12      int64
9       int32
14      int64
23    float64
10      int64
11      int64
1      object
dtype: object

In [30]:
# Let sort by column "9" as is content MS agences codes
df_MG_Rec = df_MG_Rec.sort_values(by=9)
df_MG_Rec

           7   13  12   9   14          23  10  11          1
438  45699701   1   6    0   1  -921634.00   0   0  04/27/2023
436  82748349   1   6    0   1 -1693062.00   0   0  04/27/2023
10   94759905   1   6    1   1 -1016447.00   0   0  04/27/2023
481  61374569   1   6    1   1     -218.59   0   0  04/27/2023
18   79699022   1   6    2   1  -502377.00   0   0  04/27/2023
..        ...  ..  ..  ...  ..         ...  ..  ..         ...
446  92476266   1   6   64   1  -204153.00   0   0  04/27/2023
470  88877432   1   6   71   1 -1015344.00   0   0  04/27/2023
454  89466992   1   6   75   1  -503038.00   0   0  04/27/2023
462  33569397   1   6   78   1 -1008617.00   0   0  04/27/2023
342  82209265   1   6  148   1  -837580.00   0   0  04/27/2023

[94 rows x 9 columns]

In [31]:
# df_MG_Rec.to_excel("sorten_by_code.xlsx")